@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../images/backgroundsMain-03.png");
}

a {
  color: rgb(103 60 253);
}

h1 {
  font-size: 18px;
  color: rgb(103 60 253);
}