body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

a {
  color: rgb(103 60 253);
}

h1 {
  font-size: 18px;
  color: rgb(103 60 253);
}

p {
  color: rgb(103 60 253);
}

#mapid { 
  height: 800px; 
  /* width: 1250px; */
  width: 99%;
  z-index: 1;
  position: fixed;
}

.markerInput{
  border: none;
  font-family: 'Roboto';
  text-align: center;
  padding: 3px 6px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.markerInput:hover {
  background-color: #FF5F00;
  color: white;
}

.markerInput:focus {
   background-color: #FF5F00; 
   color: white;
}