@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif !important;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../images/backgroundsArtrail-01.png");
}

a {
  color: rgb(103 60 253);
}

h1 {
  font-size: 18px;
  color: rgb(103 60 253);
}

.markerInput {
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.card{
  margin: auto;
  /* background-color: rgba(137, 43, 226, 0.555); */
  height: 720px;
  width: 1300px;
  margin-top: 70px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.096);  
  backdrop-filter: blur(8px);
  display: grid;
  grid-template-columns:auto 45%;
  grid-template-rows: 100%;
  grid-template-areas:  
  'm i';
}

#mapid { 
  height: 100%; 
  /* width: 1250px; */
  border-radius: 12px;
  grid-area: m;
}

.info{
  grid-area: i;
  text-align: center;
}

.markerInput{
  border: none;
  font-family: 'Roboto';
  text-align: center;
  padding: 3px 6px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  color: #8f02b3;
  font-weight: 500;
}

.markerInput:hover {
  background-color: #8f02b3;
  color: white;
}

.markerInput:focus {
   background-color: #8f02b3; 
   color: white;
}

info p {
  padding: 10px;
  padding-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 27px;
}

info img{
  margin: auto;
  display: block;
  max-width: 470px;
  max-height: 470px;
  margin-top: 20px;
  border-radius: 9px;
}

.leaflet-popup-content{
  width: fit-content !important;
}