@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../images/backgroundsArtrail-01.png"); 
  color: white;
}


.userSection{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 75%;
    margin-top: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(255, 255, 255);
    align-items:center;
    padding-bottom: 15px;
}

.nome{
    color: white;
    font-weight:bold;
    font-size: 20px;
    padding-left: 20px;
}

.userImage{
    width: 50px;
    display: block;
}

.container2{
    display: grid;
    grid-template-columns: 66% auto;
    grid-template-rows: 100%;
    grid-template-areas:  
    'g i';
    width: 74%;
    margin: auto;
}

.containerGaleria{
    grid-area: g;
    background-color: brown;
    overflow-y: auto;
    overflow-x: hidden;
    height: 720px;
}

.containerInfo{
    grid-area: i;
    background-color: rgb(54, 56, 24);
}

.fotoArteMap{
    max-height: 100px;
    cursor: pointer;
}

img{
    width:100%;
}
