@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

body {
  padding-top: 20px;
  padding-left: 20px;
  font: 14px;
  background-color: white;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  color: rgb(103 60 253);
}

h1 {
  font-size: 18px;
  color: black;
  padding:0px;
}

p {
  color: black;
}

.imagemArte-zoom{
  height: 250px;
  display: block; margin-left: auto; margin-right: auto;
  overflow: hidden;
  border-radius: 6px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

.imagemArte-zoom-slow img{
  transform-origin: 50% 50%;
  transition: transform 10s, filter 2s ease-in-out;
}

.imagemArte-zoom-slow:hover img{
  transform: scale(3);
}

.arteMoldura{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 20px;
  width: 300px;
  border-radius: 6px;
  transition: transform 200ms;
  cursor: pointer;
}

.arteMoldura:hover{
  transform: translateY(-7px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.16), 0 6px 12px rgba(0,0,0,0.23);
}

.galeria{
  display: flex;
}

.infoArte{
  padding-left: 10px;
  padding-top: 0px;
  margin: 0px;
}

.fotos{
padding-left: 10px;
}