@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  background-image: url("../images/backgroundsMain-04.png"); 
  color: white;
}

ul {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.logoNav{
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 230px;
  display: block;
  margin: auto;
  transform: translate(-50%, -50%);
}

li {
  float: left;
  padding: 3px;
}

li a {
  display: block;
  color: rgb(206, 197, 218);
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 15px;
}

li a:hover:not(.active) {
  color:white;
}

.active {
  color:white;
  font-weight: 500;
}


body {
  font: 14px;
  background-color: white;
}

a {
  color: rgb(103 60 253);
}

h1 {
  font-size: 18px;
  color: black;
  padding:0px;
}

.logInOut:hover{
  cursor: pointer;
}

#nomeUser:hover{
  cursor: pointer;
}

h2 {
  text-align: center;
  margin: auto;
  font-size: 55px;
  font-weight:1000;
}

.sessao{
  font-size: 20px;
  color: white;
}

.infotext {
  text-align: center;
  margin: auto;
  margin: 10px;
  color: white;
}

.artistaNome{
  margin: auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

/* checkbox heart */

label {
  /* Presentation */
  font-size: 80px;
    background-color: red;
}

/* Required Styling */

label input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: white;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.70em;
}

.custom-checkbox .glyphicon-heart-empty {
  color: white;
}

.custom-checkbox .glyphicon-heart {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-heart{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-heart {
  opacity: 1;
}

