@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url("../images/backgroundsMain-03.png");
    color: white !important;
}


.favImage {
    object-fit: cover;
    width:270px;
    height:270px;
    /* border-radius: 9px; */
    /* -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.76); 
    box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.76); */
    margin: 30px;
    margin-bottom: 14px;
}

.favImage img {
    object-fit: cover;
    width:270px;
    height:270px;
    border-radius: 9px;
}


/* -- */

.img__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.719);
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    margin: 30px; 
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 9px;
}
  
.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}
  
.img__description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 9px;
}
  
.img__wrap:hover .img__description {
    transform: translateY(0);
}


.userSection{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nome{
    color: white;
    font-weight:bold;
    font-size: 29px;
}

.userImage{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.pointsContainer{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}

.pontosUser{
    font-size: 20px;
    color: white;
    flex-basis: 100%;
}

.favoritosLabel{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;
}

.icon{
    font-size: 28px;
    flex-basis: 100%;
    text-align: end;

}

.icon a{
    color: white !important;
    font-size: 31px;
    flex-basis: 100%;
    text-align: end;

}

.icon a:hover{
    color: rgb(92, 41, 212) !important;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
}