@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url("../images/backgroundsMain-03.png");
}

.favoritos{
    display: flex;
    border-top: 1px solid rgb(255, 255, 255);
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 28px;
    padding-right: 5px;
    padding-left: 5px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.favImage {
    object-fit: cover;
    width:270px;
    height:270px;
    margin: 30px;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 9px;
}

.favImage img {
    object-fit: cover;
    width:270px;
    height:270px;
    border-radius: 9px;
}


/* -- */

.img__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.719);
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    margin: 30px; 
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 9px;
}
  
.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}
  
.img__description {
    padding: 16px;
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding-top: 0px !important;
    border-radius: 9px;
}
  
.img__wrap:hover .img__description {
    transform: translateY(0);
}


.removeFavB{
    width: 100px !important;
    text-align: center;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    border: none;
    padding-left: 14px !important;
    margin-left: -165px;
}


input [type=button]:focus {
    outline:0;
}

input[type=button]:active {
	transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.26);
}

.userSection{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.nome{
    color: white;
    font-weight:bold;
    font-size: 29px;
}

.userImage{
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.pointsContainer{
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}

.pontosUser{
    font-size: 20px;
    color: white;
    flex-basis: 100%;
}

.favoritosLabel{
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    flex-basis: 100%;
}

.icon{
    font-size: 28px;
    flex-basis: 100%;
    text-align: end;

}

.icon a{
    color: white !important;
    font-size: 31px;
    flex-basis: 100%;
    text-align: end;

}

.icon a:hover{
    color: rgb(92, 41, 212) !important;
    text-decoration: none;
}

li a:hover{
    text-decoration: none;
}